/* Palette
 * ===============
 *
 * All palette colors are defined on this page. */

/* Coolors Exported Palette - coolors.co/ff0303-ffed00-008026-ff8c00-004dff */

/* HSL */
$color1: hsla(0%, 100%, 51%, 1);
$color2: hsla(56%, 100%, 50%, 1);
$color3: hsla(138%, 100%, 25%, 1);
$color4: hsla(33%, 100%, 50%, 1);
$color5: hsla(222%, 100%, 50%, 1);
$color6: hsla(292%, 90%, 28%, 1);


/* RGB */
$color1: rgba(255, 3, 3, 1);
$color2: rgba(255, 237, 0, 1);
$color3: rgba(0, 128, 38, 1);
$color4: rgba(255, 140, 0, 1);
$color5: rgba(0, 77, 255, 1);
$color6: rgba(117, 7, 135, 1);

/* HEX */

$red: #ff0303;
$yellow: #ffed00;
$green:#008026;
$orange: #ff8c00;
$blue:#004dff;
$purple: #750787;